body {
  font-family: "Merienda", "cursive";
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  position: relative;
}

#Head {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.39);
  background-size: cover;
  width: fit-content;
  border: 8px rgba(255, 255, 255, 0.701) solid;
  border-radius: 25px;
}

.header_form {
  display: inline-flex;
  position: fixed;
  margin-top: 6%;
  margin-left: 36%;
  margin-right: auto;
}

.textbox {
  font-family: "Merienda", "cursive";
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgba(158, 197, 255, 0.397);
  display: inline;
  position: fixed;
  width: 300px;
  height: 100px;

  margin-top: 16.5%;
  margin-left: 41.8%;
  border: 0;
  z-index: 1;
}

#button {
  font-family: "Merienda", "cursive";
  font-weight: bolder;
  display: flex;
  position: fixed;
  padding: 14px;
  padding: 10px;
  margin-top: 24%;
  margin-left: 41.8%;
  font-size: 30px;
  text-align: center;
  font-weight: 600;
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.228);
  border: 6px rgba(255, 255, 255, 0.582) solid;
  text-decoration: none;
  border-radius: 25px;
  z-index: 1;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .fe-64898133a9aea24242fb95c4 {
    grid-template-rows: repeat(16, minmax(24px, auto)) !important;
  }
}

.result {
  color: rgba(255, 115, 229, 0.605);
  display: flex;
  position: fixed;
  font-size: 40px;
  margin-top: 30%;
  margin-left: 37.8%;
}

@media screen and (min-width: 768px) {
  .form {
    text-align: justify;
    display: grid;
    gap: 20px;
    padding: 10px;

    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "heading heading notification";
  }
}
